{% extends 'layout.html' %}

{% block main %}
    <h1>Projects</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Project ID</th>
                <th>Project Name</th>
                <th>Description</th>
                <th>Tasks</th>
                <th>Assigned Users</th>
                <th>Assigned Teams</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.id }}</td>
                    <td>{{ project.name }}</td>
                    <td>{{ project.description }}</td>
                    <td>
                        {% if project.tasks %}
                            <ul>
                                {% for task in project.tasks %}
                                    <li>{{ task.title }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            No tasks found for this project.
                        {% endif %}
                    </td>
<td>
    {% for team in project.assigned_teams %}
        {% for user in team.team_members %}
            {{ user.user_info.full_name }}
            {% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endfor %}
</td>
                                        <td>
                        {% if project.assigned_teams %}
                            <ul>
                                {% for team in project.assigned_teams %}
                                    <li>{{ team.name }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            No team found for this project.
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
