{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<h2>REGISTER</h2>
<form action="/register" method="post">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <small class="form-text text-muted">Password must be at least 8 characters long and contain at least one letter, one number, and one special character (@$!%*#?&).</small>
    </div>
    <div class="form-group">
        <label for="confirmation">Confirm Password:</label>
        <input type="password" id="confirmation" name="confirmation" class="form-control" placeholder="Confirm Password" required>
    </div>
        <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
    </div>
    <div class="form-group">
        <label for="task">Task:</label>
        <input type="text" id="task" name="task" class="form-control" placeholder="Task">
    </div>
        <div class="form-group form-check">
        <input type="checkbox" id="authority" name="authority" class="form-check-input">
        <label class="form-check-label" for="authority">Authority (Can create and assign employees to jobs)</label>
    </div>


    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}
